//------------------------------------
    #typography
//------------------------------------

.text-white
  color: #fff

.text-green
  color: $text-green

.text-blue
  color: $text-blue

.text-shadow
  +text-shadow(1px 1px 2px #333)
