:javascript
  /* <![CDATA[ */
  var google_conversion_id = 975490477;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "iNKUCKqdp18QrZuT0QM";
  var google_remarketing_only = false;
  /* ]]> */
.hidden
  = javascript_include_tag 'https://www.googleadservices.com/pagead/conversion.js', 'data-turbolinks-track':true, 'data-debug': true
  %noscript
    %div{style:'display:inline;'}
      %img{width:'1', height: '1', alt: '', style:'border-style:none;', src: '//www.googleadservices.com/pagead/conversion/975490477/?label=iNKUCKqdp18QrZuT0QM&guid=ON&script=0'}/
