=javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
:javascript
  //jQuery CDN fallback
  window.jQuery || document.write('<script src="assets/javascripts/vendor/jquery.min.js"><\/script>')
=javascript_include_tag 'main.js',
                        'application.js'
