-@title= 'Apsiyon Bulutfon Entegrasyonu'
-@page_classes= 'home'

%header.header
  .container
    .row
      .col-lg-12.col-xs-12.navbar.text-center
        .brand.mb-20
          %h1
            %strong
              Apsiyon
            %i.icon.icon-heart
            %strong
              Bulutfon
  .bg-header-layout
    .container
      .row
        .col-lg-12.col-xs-12.bg-header-content.text-center.mt-40.text-white
          %h1.text-shadow
            %strong
              İletişiminizi otomatize edin
          %h3.text-shadow
            Sizi arayan konut sakinlerinin borçlarını 7/24 sorgulamalarını sağlayabilir
            %br
            ve kredi kartından tahsilat yapabilirsiniz.
          %h4.text-shadow
            Apsiyon & Bulutfon entegrasyonu sayesinde, konut sakinlerine telefon üzerinden otomatik borç okuma hizmeti sunarak telefon
            %strong trafiğinizi azaltır, zaman ve iş gücü kaybını önlersiniz.
            Konut sakinlerine yine telefon üzerinden kredi kartı ile ödeme seçeneği sunarak
            %strong tahsilat oranınızı artırırsınız.
          =link_to 'Paketler', '#paketler', class:'btn btn-info btn-lg mt-20'
%main
  .container
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1#ozellikler
            %strong
              Özellikler
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.font-size-h2.mt-10.mb-40
        %p
          Bulutfon, işletmelere bütünleşik iletişim çözümleri sunar.
          İletişiminiz için ihtiyaç duyduğunuz telefon santralini sunmakla kalmaz;
          Görüşmeleriniz kaydeder, e-posta ile faks gönderir ve alır.
          Diğer çağrı merkezlerinden farklı olarak,
          %strong borç sorgulatır
          ve
          %strong kredi kartı ile tahsilat yapar.
        %p
          Bu özellikleriyle tüm ihtiyaçlarınıza yönelik kapsamlı bir çözüm sunar.
      .col-xs-12.visible-xs
        %hr
      .col-lg-4.col-md-6.col-sm-6.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-building
              %use{'xlink:href':image_path('building.svg#Layer_1')}
            %h3
              %strong
                KURUMSAL IMAJ
            %p
              Sizi arayan konut sakinlerini müzik yerine, önceden belirlemiş olduğunuz bant kaydı ile karşılayarak kurumsal kimliğinizi güçlendirirsiniz.
      .col-lg-4.col-md-6.col-sm-6.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-record
              %use{'xlink:href':image_path('record.svg#Layer_1')}
            %h3
              %strong
                KAYIT
            %p
              Bütün görüşmeleri kayıt altına alabilir ve daha sonra dinleyebilirsiniz. Böylece geçmişe yönelik bütün iletişim problemlerinizi tespit ederek kalite standartlarınızı yükseltir ayrıca yasal yükümlülüklerinizi de yerine getirirsiniz.
      .col-lg-4.col-md-6.col-sm-6.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-fax
              %use{'xlink:href':image_path('fax.svg#Layer_1')}
            %h3
              %strong
                FAKS
            %p
              E-Posta ile faks gönderip alabilirsiniz. Faks göndermek ve almak için ofiste olmanıza da gerek kalmaz.
      .col-xs-12.visible-xs
        %hr
      .col-lg-4.col-lg-offset-1.col-md-6.col-sm-6.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-money
              %use{'xlink:href':image_path('money.svg#Layer_1')}
            %h3
              %strong
                TASARRUF
            %p
              Bulutfon’da kontur atış periyodu saniyeliktir. Dolasıyla, 10 saniye için 60 saniye ücreti ödemezsiniz. Telefon faturanızda %70’e varan gözle görülür bir düşüş olur.
      .col-lg-4.col-lg-offset-2.col-md-6.col-sm-6.col-sm-offset-3.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-clock
              %use{'xlink:href':image_path('clock.svg#Layer_1')}
            %h3
              %strong
                RAPORLAMA
            %p
              Gelen-giden aramların excel olarak dökümünü alabilir, görüşmeleri kayıt altına alarak dinleyebilirsiniz.
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1#paketler
            %strong
              Paketler
  .price-table-layout
    .container
      .row
        .col-lg-12.col-xs-12.text-center.mb-40
          .btn-group{'data-toggle':'buttons'}
            %label.btn.btn-lg.btn-primary.active.js-btn-monthly
              %input#monthly{autocomplete: 'off', checked: '', name: 'options', type: 'radio'}
                Aylık
            %label.btn.btn-lg.btn-primary.js-btn-yearly
              %input#yearly{autocomplete: 'off', name: 'options', type: 'radio'}
                Yıllık
        .col-lg-4.col-lg-offset-2.col-md-4.col-md-offset-2.col-sm-6.col-xs-12.text-center
          .panel.panel-default.panel-shadow
            .panel-heading
              %h4.text-muted
                Apsiyon Site Yönetimi
            .panel-body
              %h4.js-monthly-layout
                Aylık 75.00 TL + KDV
              %h4.hidden.js-yearly-layout
                Yıllık 750.00 TL + KDV
              %hr
              %ul.list-unstyled
                %li
                  %p
                    Fax var
                %li
                  %p
                    Görüşme kaydı var
                %li
                  %p
                    5 adet dahili
                %li
                  %p
                    2 adet telefon numarası
              =link_to 'Santralimi Oluştur', 'https://app.bulutfon.com/accounts/new?package_keys=apsiyon_pro,yearly_apsiyon_pro,apsiyon_site,yearly_apsiyon_site&package=apsiyon_site', class:'btn btn-warning btn-lg btn-block js-btn-package-monthly mt-20'
              =link_to 'Santralimi Oluştur', 'https://app.bulutfon.com/accounts/new?package_keys=apsiyon_pro,yearly_apsiyon_pro,apsiyon_site,yearly_apsiyon_site&package=yearly_apsiyon_site', class:'btn btn-warning btn-lg btn-block js-btn-package-yearly hidden mt-20'
        .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
          .panel.panel-default.panel-shadow
            .panel-heading
              %h4.text-muted
                Apsiyon Profesyonel Yönetici
            .panel-body
              %h4.js-monthly-layout
                Aylık 150.00 TL + KDV
              %h4.hidden.js-yearly-layout
                Yıllık 1500.00 TL + KDV
              %hr
              %ul.list-unstyled
                %li
                  %p
                    Fax var
                %li
                  %p
                    Görüşme kaydı var
                %li
                  %p
                    25 adet dahili
                %li
                  %p
                    10 adet telefon numarası
              =link_to 'Santralimi Oluştur', 'https://app.bulutfon.com/accounts/new?package_keys=apsiyon_pro,yearly_apsiyon_pro,apsiyon_site,yearly_apsiyon_site&package=apsiyon_pro', class:'btn btn-warning btn-lg btn-block js-btn-package-monthly mt-20'
              =link_to 'Santralimi Oluştur', 'https://app.bulutfon.com/accounts/new?package_keys=apsiyon_pro,yearly_apsiyon_pro,apsiyon_site,yearly_apsiyon_site&package=yearly_apsiyon_pro', class:'btn btn-warning btn-lg btn-block js-btn-package-yearly hidden mt-20'
  .container
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1
            %strong
              Referanslar
      .col-lg-12.col-xs-12.text-center
        %ul.list-inline
          %li
            =link_to '#', class:'btn' do
              =image_tag ('simpas.png'), class:'img-responsive'

%footer.footer.mt-10
  .container
    .row
      .col-lg-12.col-xs-12
        %hr
      .col-lg-12.col-xs-12.text-center.mt-20
        %small &copy;
        Bu proje,
        =link_to 'https://www.bulutfon.com', target:'_blank' do
          %mark
            Bulutfon
        &amp;
        =link_to 'http://www.apsiyon.com', target:'_blank' do
          %mark
            Apsiyon
        tarafından birlikte yürütülmektedir.
