-@title= 'Apsiyon'
-@page_classes= 'home'

%header.header{role:'banner'}
  .container
    .row
      .col-lg-12.col-xs-12.text-center.navbar
        .pull-left.dropdown.mt-20
          %button#dropdownMenu.btn.btn-default.btn-lg.dropdown-toggle{'aria-expanded': 'true', 'aria-haspopup': 'true', 'data-toggle': 'dropdown', type: 'button'}
            %i.fa.fa-bars
            Menu
            %i.fa.fa-caret-down
          %ul.dropdown-menu{'aria-labelledby': 'dropdownMenu'}
            %li
              =link_to '#' do
                %i.fa.fa-home
                =lorem.words 2
            %li
              =link_to '#' do
                %i.fa.fa-pencil-square
                =lorem.words 2
            %li
              =link_to '#' do
                %i.fa.fa-phone-square
                =lorem.words 2
        .brand
          %h1.visible-xs
            %strong
              Apsiyon
          =image_tag ('logo.png'), class:'img-responsive hidden-xs'
        .social-icons.pull-right.mt-20
          %ul.list-inline
            %li
              =link_to '#', class:'btn btn-link' do
                %i.fa.fa-google-plus
            %li
              =link_to '#', class:'btn btn-link' do
                %i.fa.fa-twitter
            %li
              =link_to '#', class:'btn btn-link' do
                %i.fa.fa-facebook
  .bg-header-layout
    .container
      .row
        .col-lg-12.col-xs-12.text-center.bg-header-content
          .page-header.text-blue.text-uppercase
            %h1
              %strong
                Artık Apsiyon Telefonunuzda
        .col-lg-6.col-md-6.col-sm-12.col-xs-12.pull-right.text-right.text-white.bg-header-content
          :markdown
            # Telefonunuzdan, site sakinlerine 7/24, **borç sorgulama** , **kredi kartından tahsilatı** yapabilir.
          :markdown
            #### Apsiyon, Bulutfon entegrasyonu sayesinde, telefonlarınız üzerinden site sakinlerine arayan numaraya borç okuma okuyarak **telefon trafiğiniz** azalır, zaman ve iş gücü kaybını önlersiniz. Aynı şekilde telefon üzerinden kredi kartı ile tahsilatı yaparak, **tahsilatlarınızı artırırsınız**.
          =link_to 'Bütün Özellikler', '#butun-ozellikler', class:'btn btn-info btn-lg'
%main{role:'main'}
  .container
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1#butun-ozellikler
            Özellikler
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.text-left.content-features
        :markdown
          Bulutfon, işletmelere bütünleşik iletişim çözümleri sunar.

          Bulutfon ile **telefon santrali**, e-posta ile **faks gönderme ve alma, görüşmelerin kayıt altına alınması** gibi kurumsal bir iletişimde duyacağınız bütün özellikler vardır.

          Ayrıca şimdi Apsiyon entegrasyonuyla birlikte **borç sorgulama, kredi kartından tahsilat** özellikleriyde vardır.

      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center.mb-10
            .panel-features
              %i.fa.fa-home.fa-3x.text-muted
              %h3
                KURUMSAL IMAJ
              %p
                Sizi arayan müşterilerinize müzik yerine, önceden belirlemiş olduğunuz bant kaydı ile karşılar, kurumsal kimliğinizi güçlendirirsiniz.
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center.mb-10
            .panel-features
              %i.fa.fa-clock-o.fa-3x.text-muted
              %h3
                RAPORLAMA
              %p
                Gelen giden aramları excel olarak alabilir, görüşmeleri kayıt altına alıp dinleyebilirsiniz. Böylece bütün telefon görüşmeleriniz kayıt altında olur.
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center.mb-10
            .panel-features
              %i.fa.fa-clock-o.fa-3x.text-muted
              %h3
                FAKS
              %p
                E-Posta ile faks gödnerebilir ve alabilirsiniz. Faks göndermek ve almak için ofiste olmanıza gerek yoktur.
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center.mb-10
            .panel-features
              %i.fa.fa-money.fa-3x.text-muted
              %h3
                TASARRUF
              %p
                Bulutfon’da kontur atış periyodu saniyeliktir. Dolasıyla 10 saniye için 60 saniye ücreti ödemezsiniz. %70’e varan telefon faturası düşüşü olur.
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1
            Paketler
  .price-table-layout
    .container
      .row
        .col-lg-4.col-lg-offset-2.col-md-4.col-sm-4.col-xs-12.text-center
          .panel.panel-default.panel-shadow
            .panel-heading
              %h4.text-muted.text-uppercase
                Apsiyon Profesyonel Yönetici
            .panel-body
              %h4
                Aylık 150.00 TL  + KDV
              %h4
                Yıllık 1500.00 TL + KDV
              %hr/
              %ul.list-unstyled
                %li
                  %p
                    Fax var
                %li
                  %p
                    Görüşme kaydı var
                %li
                  %p
                    25 adet dahili
                %li
                  %p
                    10 adet telefon numarası
              =link_to 'Santralimi Oluştur', '#', class:'btn btn-warning btn-lg btn-block mt-20'
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center
          .panel.panel-default.panel-shadow
            .panel-heading
              %h4.text-muted.text-uppercase
                Apsiyon Site Yönetimi
            .panel-body
              %h4
                Aylık 75.00 TL+ KDV
              %h4
                Yıllık 750.00 TL+ KDV
              %hr/
              %ul.list-unstyled
                %li
                  %p
                    Fax var
                %li
                  %p
                    Görüşme kaydı var
                %li
                  %p
                    5 adet dahili
                %li
                  %p
                    2 adet telefon numarası
              =link_to 'Santralimi Oluştur', '#', class:'btn btn-warning btn-lg btn-block mt-20'
  .container
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1
            Referanslar
      .col-lg-12.col-xs-12.text-center
        %ul.list-inline
          -3.times do
            %li
              =link_to '#', class:'btn' do
                =image_tag (lorem.image('100x50')), class:'img-responsive'

%footer.footer.mt-10{role:'contentinfo'}
  .container
    .row
      .col-lg-12.col-xs-12
        %hr/
      .col-lg-12.col-xs-12.text-center
        %ul.list-inline
          -7.times do
            %li
              =link_to '#', class:'btn btn-link' do
                =lorem.words 1
      .col-lg-12.col-xs-12.text-center
        %ul.list-inline
          %li
            =link_to '#', class:'btn btn-link' do
              %i.fa.fa-google-plus
          %li
            =link_to '#', class:'btn btn-link' do
              %i.fa.fa-twitter
          %li
            =link_to '#', class:'btn btn-link' do
              %i.fa.fa-facebook
      .col-lg-12.col-xs-12.text-center
        %i.fa.fa-copyright
        Bu proje,
        =link_to 'https://www.bulutfon.com', target:'_blank' do
          %mark
            Bulutfon
        &
        =link_to 'http://www.apsiyon.com', target:'_blank' do
          %mark
            Apsiyon
        tarafından birlikte yürütülmektedir.