-@title= 'Apsiyon Bulutfon Entegrasyonu'
-@page_classes= 'home'

%header.header
  .container
    .row
      .col-lg-12.col-xs-12.navbar.text-center
        .brand.mb-20
          %h1
            %strong
              Apsiyon
            %i.icon.icon-heart
            %strong
              Bulutfon
  .bg-header-layout
    .container
      .row
        .col-lg-12.col-xs-12.bg-header-content.text-center.mt-40.text-white
          %h1.text-shadow
            %strong
              İletişiminizi otomatize edin
          %h3.text-shadow
            Sizi arayan konut sakinlerinin borçlarını 7/24 sorgulamalarını sağlayabilir
            %br
            ve kredi kartından tahsilat yapabilirsiniz.
          %h4.text-shadow
            Apsiyon & Bulutfon entegrasyonu sayesinde, konut sakinlerine telefon üzerinden otomatik borç okuma hizmeti sunarak telefon
            %strong trafiğinizi azaltır, zaman ve iş gücü kaybını önlersiniz.
            Konut sakinlerine yine telefon üzerinden kredi kartı ile ödeme seçeneği sunarak
            %strong tahsilat oranınızı artırırsınız.
          =link_to 'Paketler', '#paketler', class:'btn btn-info btn-lg mt-20'
%main
  .container
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1#ozellikler
            %strong
              Özellikler
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.font-size-h2.mt-10.mb-40
        %p
          Bulutfon, işletmelere bütünleşik iletişim çözümleri sunar.
          İletişiminiz için ihtiyaç duyduğunuz telefon santralini sunmakla kalmaz;
          Görüşmelerinizi kaydeder, e-posta ile faks gönderir ve alır.
          Diğer çağrı merkezlerinden farklı olarak,
          %strong borç sorgulatır
          ve
          %strong kredi kartı ile tahsilat yapar.
        %p
          Bu özellikleriyle tüm ihtiyaçlarınıza yönelik kapsamlı bir çözüm sunar.
      .col-xs-12.visible-xs
        %hr
      .col-lg-4.col-md-6.col-sm-6.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-building{viewbox: '0 0 128 128'}
              %g
                %g
                  %path{d:'M20,48h8v-8h-8V48z M52,40h8v-8h-8V40z M68,40h8v-8h-8V40z M84,40h8v-8h-8V40z M52,24h8v-8h-8V24z M68,24    h8v-8h-8V24z M84,24h8v-8h-8V24z M52,72h8v-8h-8V72z M68,72h8v-8h-8V72z M84,72h8v-8h-8V72z M52,88h8v-8h-8V88z M84,88h8v-8h-8V88    z M52,104h8v-8h-8V104z M84,104h8v-8h-8V104z M108,96h8v-8h-8V96z M108,72v8h8v-8H108z M108,112h8v-8h-8V112z M52,56h8v-8h-8V56z     M68,56h8v-8h-8V56z M84,56h8v-8h-8V56z M20,64h8v-8h-8V64z M20,80h8v-8h-8V80z M20,96h8v-8h-8V96z M20,112h8v-8h-8V112z M68,88h8    v-8h-8V88z', fill: '#B0BEC5'}
              %path{d:'M124,120c0,4.422-3.578,8-8,8H12c-4.422,0-8-3.578-8-8V32  c0-4.422,3.578-8,8-8h24V8c0-4.422,3.578-8,8-8h56c4.422,0,8,3.578,8,8v48h8c4.422,0,8,3.578,8,8V120z M36,32H12v88h24V32z M100,8  H44v112h24V96h8v24h24V8z M116,64h-8v56h8V64z', fill: '#546E7A'}
            %h3
              %strong
                KURUMSAL IMAJ
            %p
              Sizi arayan konut sakinlerini müzik yerine, önceden belirlemiş olduğunuz bant kaydı ile karşılayarak kurumsal kimliğinizi güçlendirirsiniz.
      .col-lg-4.col-md-6.col-sm-6.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-record{viewbox: '0 0 128 128'}
              %path{d:'M64,4C28.648,4,0,32.649,0,68.002v28.001c0,6.617,5.383,12,12,12h5.469C20.773,117.305,29.563,124,40,124  c8.836,0,16-7.164,16-15.997V76.002c0-8.84-7.164-16.004-16-16.004c-6.086,0-11.578,2.336-15.805,6.066  C25.227,44.919,42.609,27.997,64,27.997s38.773,16.922,39.805,38.067c-4.227-3.73-9.719-6.066-15.805-6.066  c-8.836,0-16,7.164-16,16.004v32.001C72,116.836,79.164,124,88,124c10.438,0,19.227-6.695,22.531-15.997H116c6.617,0,12-5.383,12-12  V68.002C128,32.649,99.352,4,64,4z M12,100.003c-2.211,0-4-1.789-4-4v-4.004h4c2.211,0,4,1.789,4,4.004v4H12z M40,68.002  c4.414,0,8,3.582,8,8v32.001c0,4.415-3.586,8.001-8,8.001c-8.82,0-16-7.181-16-16.001v-16C24,75.182,31.18,68.002,40,68.002z   M64,20.001c-26.508,0-48,21.492-48,48.001v16.001v0.73c-1.258-0.445-2.594-0.73-4-0.73H8V68.002c0-30.88,25.123-56.005,56-56.005  c30.875,0,56,25.125,56,56.005v16.001h-4c-1.406,0-2.742,0.285-4,0.73v-0.73V68.002C112,41.493,90.508,20.001,64,20.001z   M104,100.003c0,8.82-7.18,16.001-16,16.001c-4.414,0-8-3.586-8-8.001V76.002c0-4.418,3.586-8,8-8c8.82,0,16,7.18,16,16.001V100.003  z M116,100.003h-4v-4c0-2.215,1.789-4.004,4-4.004h4v4.004C120,98.214,118.211,100.003,116,100.003z', fill:'#546E7A'}
            %h3
              %strong
                KAYIT
            %p
              Bütün görüşmeleri kayıt altına alabilir ve daha sonra dinleyebilirsiniz. Böylece geçmişe yönelik bütün iletişim problemlerinizi tespit ederek kalite standartlarınızı yükseltir ayrıca yasal yükümlülüklerinizi de yerine getirirsiniz.
      .col-lg-4.col-md-6.col-sm-6.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-fax{viewbox: '0 0 128 128'}
              %path{d:'M104,0H24C15.164,0,8,7.164,8,16v96c0,8.836,7.164,16,16,16h80c8.836,0,16-7.164,16-16V16  C120,7.164,112.836,0,104,0z M112,112c0,4.414-3.586,8-8,8H24c-4.406,0-8-3.586-8-8V16c0-4.414,3.594-8,8-8h80c4.414,0,8,3.586,8,8  V112z', fill:'#546E7A'}
              %rect{fill:'#B0BEC5', height: '8', width: '64', x: '32', y:'24'}
              %rect{fill:'#B0BEC5', height: '8', width: '64', x: '32', y:'40'}
              %rect{fill:'#B0BEC5', height: '8', width: '64', x: '32', y:'56'}
              %rect{fill:'#B0BEC5', height: '8', width: '32', x: '32', y:'72'}
            %h3
              %strong
                FAKS
            %p
              E-Posta ile faks gönderip alabilirsiniz. Faks göndermek ve almak için ofiste olmanıza da gerek kalmaz.
      .col-xs-12.visible-xs
        %hr
      .col-lg-4.col-lg-offset-1.col-md-6.col-sm-6.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-money{viewbox: '0 0 128 128'}
              %g
                %g
                  %path{d:'M56,80h8v-8h-8V80z M64,72h8v-8h-8V72z M80,64v-8h-8v8H80z M72,56v-8h-8v8H72z M64,56h-8v8h8V56z M48,64v8    h8v-8H48z M48,56h8v-8h-8V56z M80,80v-8h-8v8H80z M97.469,32H30.531C28.119,38.793,22.793,44.121,16,46.531v34.938    C22.793,83.875,28.125,89.207,30.531,96h66.938c2.41-6.793,7.738-12.121,14.531-14.531V46.531    C105.207,44.121,99.879,38.793,97.469,32z M104,76.441c-4.789,2.785-8.773,6.77-11.559,11.559H35.559    c-2.785-4.789-6.77-8.773-11.559-11.559V51.559c4.789-2.785,8.773-6.77,11.559-11.559H56v8h8v-8h28.441    c2.785,4.789,6.77,8.773,11.559,11.559V76.441z', fill:'#B0BEC5'}
              %path{d:'M64,48c8.824,0,16,7.176,16,16s-7.176,16-16,16s-16-7.176-16-16S55.176,48,64,48 M64,40  c-13.254,0-24,10.746-24,24c0,13.25,10.746,24,24,24s24-10.75,24-24C88,50.746,77.254,40,64,40L64,40z', fill:'#546E7A'}
              %path{d:'M0,16v96h128V16H0z M16,104c0-4.422-3.578-8-8-8V32c4.422,0,8-3.578,8-8h96c0,4.422,3.578,8,8,8v64  c-4.422,0-8,3.578-8,8H16z', fill:'#546E7A'}
              %path{d:'M20,40c2.211,0,4-1.789,4-4s-1.789-4-4-4s-4,1.789-4,4S17.789,40,20,40z', fill:'#546E7A'}
              %path{d:'M20,88c-2.211,0-4,1.789-4,4s1.789,4,4,4s4-1.789,4-4S22.211,88,20,88z', fill:'#546E7A'}
              %path{d:'M108,88c-2.211,0-4,1.789-4,4s1.789,4,4,4s4-1.789,4-4S110.211,88,108,88z', fill:'#546E7A'}
              %path{d:'M108,32c-2.211,0-4,1.789-4,4s1.789,4,4,4s4-1.789,4-4S110.211,32,108,32z', fill:'#546E7A'}
            %h3
              %strong
                TASARRUF
            %p
              Bulutfon’da kontör atış periyodu saniyeliktir. Dolasıyla, 10 saniye için 60 saniye ücreti ödemezsiniz. Telefon faturanızda %70’e varan gözle görülür bir düşüş olur.
      .col-lg-4.col-lg-offset-2.col-md-6.col-sm-6.col-sm-offset-3.col-xs-12.text-center
        .panel.panel-features
          .panel-body
            %svg.icon-svg.icon-clock{viewbox: '0 0 128 128'}
              %g
                %g
                  %path{d:'M64,0C28.656,0,0,28.656,0,64s28.656,64,64,64s64-28.656,64-64S99.344,0,64,0z M64,120    C33.125,120,8,94.875,8,64S33.125,8,64,8s56,25.125,56,56S94.875,120,64,120z', :fill => '#B0BEC5'}
              %path{d:'M92.281,80.969L72,60.688V40c0-4.422-3.578-8-8-8s-8,3.578-8,8v27.313l24.969,24.969  c3.125,3.133,8.188,3.133,11.313,0C95.414,89.156,95.414,84.092,92.281,80.969z', :fill => '#03A9F4'}
            %h3
              %strong
                RAPORLAMA
            %p
              Gelen-giden aramaların excel olarak dökümünü alabilir, görüşmeleri kayıt altına alarak dinleyebilirsiniz.
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1#paketler
            %strong
              Paketler
  .price-table-layout
    .container
      .row
        .col-lg-12.col-xs-12.text-center.mb-40
          .btn-group{'data-toggle':'buttons'}
            %label.btn.btn-lg.btn-primary.active.js-btn-monthly
              %input#monthly{autocomplete: 'off', checked: '', name: 'options', type: 'radio'}
                Aylık
            %label.btn.btn-lg.btn-primary.js-btn-yearly
              %input#yearly{autocomplete: 'off', name: 'options', type: 'radio'}
                Yıllık
        .col-lg-4.col-lg-offset-2.col-md-4.col-md-offset-2.col-sm-6.col-xs-12.text-center
          .panel.panel-default.panel-shadow
            .panel-heading
              %h4.text-muted
                Apsiyon Site Yönetimi
            .panel-body
              %h4.js-monthly-layout
                Aylık 75.00 TL + KDV
              %h4.hidden.js-yearly-layout
                Yıllık 750.00 TL + KDV
              %hr
              %ul.list-unstyled
                %li
                  %p
                    Fax var
                %li
                  %p
                    Görüşme kaydı var
                %li
                  %p
                    5 adet dahili
                %li
                  %p
                    2 adet telefon numarası
              =link_to 'Santralimi Oluştur', 'https://app.bulutfon.com/accounts/new?package_keys=apsiyon_pro,yearly_apsiyon_pro,apsiyon_site,yearly_apsiyon_site&package=apsiyon_site', class:'btn btn-warning btn-lg btn-block js-btn-package-monthly mt-20'
              =link_to 'Santralimi Oluştur', 'https://app.bulutfon.com/accounts/new?package_keys=apsiyon_pro,yearly_apsiyon_pro,apsiyon_site,yearly_apsiyon_site&package=yearly_apsiyon_site', class:'btn btn-warning btn-lg btn-block js-btn-package-yearly hidden mt-20'
        .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
          .panel.panel-default.panel-shadow
            .panel-heading
              %h4.text-muted
                Apsiyon Profesyonel Yönetici
            .panel-body
              %h4.js-monthly-layout
                Aylık 150.00 TL + KDV
              %h4.hidden.js-yearly-layout
                Yıllık 1500.00 TL + KDV
              %hr
              %ul.list-unstyled
                %li
                  %p
                    Fax var
                %li
                  %p
                    Görüşme kaydı var
                %li
                  %p
                    25 adet dahili
                %li
                  %p
                    10 adet telefon numarası
              =link_to 'Santralimi Oluştur', 'https://app.bulutfon.com/accounts/new?package_keys=apsiyon_pro,yearly_apsiyon_pro,apsiyon_site,yearly_apsiyon_site&package=apsiyon_pro', class:'btn btn-warning btn-lg btn-block js-btn-package-monthly mt-20'
              =link_to 'Santralimi Oluştur', 'https://app.bulutfon.com/accounts/new?package_keys=apsiyon_pro,yearly_apsiyon_pro,apsiyon_site,yearly_apsiyon_site&package=yearly_apsiyon_pro', class:'btn btn-warning btn-lg btn-block js-btn-package-yearly hidden mt-20'
  .container
    .row
      .col-lg-12.col-xs-12.text-center
        .page-header.text-blue
          %h1
            %strong
              Referanslar
      .col-lg-12.col-xs-12.text-center
        %ul.list-inline
          %li
            =link_to '#', class:'btn' do
              =image_tag ('simpas.png'), class:'img-responsive'

%footer.footer.mt-10
  .container
    .row
      .col-lg-12.col-xs-12
        %hr
      .col-lg-12.col-xs-12.text-center.mt-20
        %small &copy;
        Bu proje,
        =link_to 'https://www.bulutfon.com', target:'_blank' do
          %mark
            Bulutfon
        &amp;
        =link_to 'http://www.apsiyon.com', target:'_blank' do
          %mark
            Apsiyon
        tarafından birlikte yürütülmektedir.
